In [142]:
from datetime import datetime

import dateparser as dateparser
import matplotlib
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [143]:
measurements_file = "data/measurements.csv"
measurements_data = pd.read_csv(measurements_file, sep='\t')
stations_file = "data/stations.csv"
stations_data = pd.read_csv(stations_file, sep='\t')

In [144]:
measurements_data.head(10)

,PM10,CO,Pb,C2H3NO5,CFCs,H2CO,O3,TEMP,NOx,SO2,latitude,longitude,NH3,CH4,PRES,PM2.5,warning,PAHs
0,6.33846,6.61796,44.89247,0.22646,37.51693,39.50358,6.93304,18.26344,7.24953,8.60015,53.95278,32.86389,5.35805,6.00130,1136.95323,10.59506,1.0,9.24391
1,7.90785,8.15426,50.02976,0.40716,49.00037,41.15652,10.00080,18.84880,7.08920,8.16071,9.33370,122.86370,6.22960,7.40706,1104.78569,7.82884,0.0,NaN
2,6.78253,7.32578,50.42226,0.27588,53.51533,61.03352,6.41183,13.61953,8.25103,8.93315,58.63667,59.80222,5.16975,5.07507,1148.76311,10.04912,1.0,8.73640
3,5.71508,9.26158,26.86094,0.18788,35.69230,57.17648,7.94233,16.76223,4.10062,4.44370,12.95629,78.27539,5.76106,7.01203,1089.36057,10.53430,1.0,8.67231
4,9.16375,7.12481,48.82457,1.32986,32.22006,46.82387,11.63958,12.48813,6.26932,7.81736,32.54044,-82.90375,5.96896,8.44913,1099.39295,9.40919,0.0,4.80834
5,7.04390,7.96828,56.56011,0.31311,56.18221,41.18541,10.42120,12.74538,8.75889,7.43447,37.73604,-120.93549,8.58263,6.89506,1050.67737,7.20484,0.0,6.00215
6,8.07997,6.40977,58.46766,0.67969,60.60543,34.99728,9.14442,22.17319,6.75870,8.48118,3.51667,11.50000,7.64965,8.33486,1107.84036,8.70999,0.0,6.88903
7,7.29130,7.98165,51.66434,0.32651,58.74764,34.19093,8.08972,2.44131,8.52918,7.19837,34.09668,-117.71978,9.57044,9.39463,1151.83879,6.68114,1.0,6.25543
8,8.35517,6.93280,19.34860,0.81349,55.69528,41.58524,9.23259,2.99513,7.51361,5.92541,10.20898,123.75800,5.64815,8.15221,1121.79391,8.18714,0.0,4.12422
9,8.13981,7.40637,61.53701,0.61849,47.76755,61.36477,10.36692,13.31374,7.97743,7.96606,4.02219,101.02083,9.85029,7.40917,1157.28796,8.65797,1.0,7.83400

In [145]:
stations_data.head(10)

,QoS,station,code,latitude,longitude,revision
0,good,Casa Blanca,MX,19.04222,-98.11889,2019-11-27
1,building,Mikhaylovka,RU,50.06000,43.23790,"07/26/2017, 00:00:00"
2,building,Shahre Jadide Andisheh,IR,35.68030,51.01930,01 Jun 2013
3,building,Aracaju,BR,-10.91111,-37.07167,2012/12/29
4,maintenance,Parola,IN,20.88098,75.11937,2019/07/05
5,excellent,Kheda,IN,22.75218,72.68533,"10/29/2014, 00:00:00"
6,maintenance,Caldas Novas,BR,-17.74431,-48.62789,2022-08-02
7,good,Freetown,SL,8.48714,-13.23560,2021/10/25
8,excellent,Frankston South,AU,-38.16604,145.13643,2022-02-27
9,average,Gorakhpur,IN,26.76628,83.36889,12 Mar 2021

In [152]:
stations_data['date'] = stations_data.apply(lambda row: dateparser.parse(row.revision, settings={'TIMEZONE': 'CEST'}), axis = 1)

stations_data

,QoS,station,code,latitude,longitude,revision,date
0,good,Casa Blanca,MX,19.04222,-98.11889,2019-11-27,2019-11-27
1,building,Mikhaylovka,RU,50.06000,43.23790,"07/26/2017, 00:00:00",2017-07-26
2,building,Shahre Jadide Andisheh,IR,35.68030,51.01930,01 Jun 2013,2013-06-01
3,building,Aracaju,BR,-10.91111,-37.07167,2012/12/29,2012-12-29
4,maintenance,Parola,IN,20.88098,75.11937,2019/07/05,2019-07-05
...,...,...,...,...,...,...,...
1105,building,Tadmur,SY,34.56240,38.28402,2013/07/10,2013-07-10
1106,average,Jizzax,UZ,40.11583,67.84222,30 May 2013,2013-05-30
1107,accep,West Chester,US,39.96097,-75.60804,"11/04/2012, 00:00:00",2012-11-04
1108,accep,Oktyabr‚Äôskiy,RU,54.48147,53.47103,18 Apr 2015,2015-04-18
1109,excellent,Yakuplu,TR,40.98894,28.67582,2012-11-10,2012-11-10